{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
	<link type="text/css" href="{% static 'printing_checks/css/styles.css' %}" rel="stylesheet" >
</head>
<body>
<div class="page">
	<div class="header">
		<img src="{% static 'printing_checks/img/logo.png' %}" style="width: auto; height: 100%;">
	</div>
    <div class="menu_top">
			<div class="menu_top_left">
				<li><a href="{% url 'home' %}" class="current">Home</a></li>
			</div>
			<div class="menu_top_right">
			menu_top_right
			</div>

    </div>
	<div class="main">
		<div class="menu">
            <div class="menu_left_m">
            Menu
            </div>
				<ul class="menu_left">
				  <li>
					<a href="#">Login</a>
				  </li>
				</ul>
		</div>
		<div class="content">
			{% if error %}
			   <p style="color: red">{{ error }}</p>
			{% endif %}
			{% if succes %}
				<p style="color: green">{{ succes }}</p>
			{% endif %}
<!--            {% if aut %}-->
<!--                <a href="{{ aut.get_absolute_url }}" style="color: #4ac1f7">{{ aut.name }}</a>-->
<!--        {% endif %}-->
			{% block main %}
			<div class="category-list">
			<div align="center"><h1>Hi, It`s Home page</h1></div>
			</div>
			{% endblock %}
		</div>
	</div>

<script>
// редагуємо стиль
const m_menu = document.querySelector('div.menu');
if (m_menu == undefined){
const adiv = document.querySelector('div.content');
adiv.style.width = "95%";
}
</script>
	<div class="after-box"></div>
	<div class="footer">
© Created by Vitalii Makovka
	</div>

</div>
</body>
</html>